<html>
  <head>
  <title>My Now Amazing Webpage</title>
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.8/slick.min.css">
  <style type="text/css">
      .row {
          width: 90%;
          margin: 20px auto;
        }
.card {
  margin: 10px 0;
}
.card-content {
    background: red;
    padding: 10px;
    text-align: center;
    font-size: 36px;
    height: 350px;
  }
  </style>
  </head>
  <body>

    <div class="row carousel">
      <div class="card col-sm-4 col-md-3"><div class="card-content">Card 01</div></div>
      <div class="card col-sm-4 col-md-3"><div class="card-content">Card 02</div></div>
      <div class="card col-sm-4 col-md-3"><div class="card-content">Card 03</div></div>
      <div class="card col-sm-4 col-md-3"><div class="card-content">Card 04</div></div>
      <div class="card col-sm-4 col-md-3"><div class="card-content">Card 05</div></div>
      <div class="card col-sm-4 col-md-3"><div class="card-content">Card 06</div></div>
      <div class="card col-sm-4 col-md-3"><div class="card-content">Card 07</div></div>
      <div class="card col-sm-4 col-md-3"><div class="card-content">Card 08</div></div>
      <div class="card col-sm-4 col-md-3"><div class="card-content">Card 09</div></div>
      <div class="card col-sm-4 col-md-3"><div class="card-content">Card 10</div></div>
      <div class="card col-sm-4 col-md-3"><div class="card-content">Card 11</div></div>
      <div class="card col-sm-4 col-md-3"><div class="card-content">Card 12</div></div>
    </div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.8/slick.min.js"></script>

  <script type="text/javascript">
      var slickopts = {
        infinite: true,
        slidesToShow: 3,
        slidesToScroll: 3
        speed: 300,
        dots: true,
        rows: 3, // Removes the linear order. Would expect card 5 to be on next row, not stacked in groups.
        responsive: [
          { breakpoint: 992,
            settings: {
              slidesToShow: 3
            }
          },
          { breakpoint: 776,
            settings: {
              slidesToShow: 1,
              rows: 1 // This doesn't appear to work in responsive (Mac/Chrome)
            }
          }]
      };
      $('.carousel').slick(slickopts);
  </script>

  </body>
</html>